<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: red;">
    <center>
        <h1>This is RCB HTML Page</h1>
        <h1 style="color: blue;">CHARISHMA favourite cricketer is Virat Kohli</h1>
        <h2>Virat Kohli (born 5 November 1988) is an Indian international cricketer and former captain of the India national team who plays as a right-handed batsman for Royal Challengers Bangalore in the IPL and for Delhi in Indian domestic cricket. Widely regarded as one of the greatest batsmen of all time,[3] Kohli holds the records for scoring most runs in T20 internationals and in the IPL. In 2020, the International Cricket Council named him the male cricketer of the decade. Kohli has also contributed to India's successes, including winning the 2011 World Cup and the 2013 Champions trophy</h2>
        <a href="{% url 'devi:csk' %}"><h5 style="color: yellow;">Go To CSK HTML Page</h5></a>
    </center>
</body>
</html>